.packages .ant-list-empty-text {
  padding: 5px;
}

.versions .ant-table-cell {
  white-space: nowrap;
}

.versions .ant-typography-edit {
  transition: opacity 0.3s;
  opacity: 0;
}

.versions tr:hover .ant-typography-edit {
  opacity: 1;
}
