.packages .ant-list-empty-text {
  padding: 5px;
}

.popover-package .ant-popover-inner-content {
  padding: 0;
}

.versions .ant-table-cell {
  white-space: nowrap;
}

.versions .ant-typography-edit {
  transition: opacity 0.3s;
  opacity: 0;
}

.versions tr:hover .ant-typography-edit {
  opacity: 1;
}

.versions tr {
  transition: background-color 0.3s;
}

.versions .can-drop {
  background-color: #fff;
}

.versions .is-over {
  background-color: #e6f7ff;
}
