.ant-layout-content {
  padding: 24px;
}

.ant-layout-header .ant-menu {
  border-bottom: 0;
}

.ant-layout-sider .ant-menu {
  border-right: 0;
}

#main,
#main > .ant-layout {
  height: 100%;
}

.body {
  padding: 16px;
  background: #fff;
}

a.ant-typography .ant-typography {
  transition: color 0.3s;
}

a.ant-typography:hover .ant-typography {
  color: #40a9ff;
}

[draggable] {
  cursor: default;
}
