.ant-layout-content {
  padding: 16px;
}

.ant-layout-header .ant-menu-horizontal {
  border-bottom: 0;
}

.ant-layout-sider .ant-menu-inline {
  border-right-color: #fff;
}

#main,
#main > .ant-layout {
  height: 100%;
}

.body {
  padding: 16px;
  background: #fff;
}
